<!--<div class="section1">-->
<!--  <app-header></app-header>-->
<!--  <app-jumbotron></app-jumbotron>-->
<!--</div>-->
<!--<app-galeri></app-galeri>-->
<!--<app-galeri-active></app-galeri-active>-->
<!--<app-pbb></app-pbb>-->
<!--<app-todo> </app-todo>-->
<app-menu-app>
</app-menu-app>

<!--<div class="container mt-5">-->
<!--  <button (click)="getProducts()">Get Products</button>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <ul>-->
<!--    <li *ngFor="let p of products"> {{ p.url }}</li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div class="container mt-5">-->
<!-- <div class="row">-->

<!--   <div class="col-3" *ngFor="let post of posts">-->

<!--     <div class="card">-->
<!--       <img [src]="post.url" alt="" class="card-img-top">-->
<!--       <div class="card-body">-->
<!--         <h5 class="card-title">{{ post.title }}</h5>-->
<!--         <p class="card-text">{{ post.body }}</p>-->
<!--       </div>-->
<!--     </div>-->

<!--   </div>-->
<!-- </div>-->
<!--</div>-->
