body {
  background-color: #f9f3f3;

}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: none;
  background-color: #E8C4C4;
  width: 40%;
  padding: 20px;
}

h1 {
  font-size: x-large;
}
h3 {
  font-size: medium;
}

.headTitle, .perhitungan, .btnHitung{
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: #f9f3f3;
  padding-left: 10px;
}
.btnHitung {
  background-color: #2B3A55;
  border: none;
  height: 60px;
}



.alert {
  /* background-color: #CE7777; */
  border: none;
  color: #2B3A55;
  text-align: center;
}
