* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';

}

.section1 {
  background-image: url(https://images.unsplash.com/photo-1499914485622-a88fac536970?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  height: 100vh;
  background-color: rgb(254,250,244);

}

h1 {

  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
}
p {
  font-size: 16px;
  color: rgb(200, 200, 200);
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  margin-bottom: 50px;
  padding-right: 100px;
  font-weight: 900;
}
